/* $Id$ */

/* Navigation */
.ethifygame_level_button_prev {
  float:left;
}
.ethifygame_level_button_next {
  float:right;
}

/* Each fieldset entry */
#-ethifygame-level-questionary-form fieldset {
  border-left:none;
  border-right:none;
  margin:0;
  clear:both;
  vertical-align:middle;
  line-height: 41px;
}
/*
#-ethifygame-level-questionary-form fieldset legend {
  display:none;
}*/

/* The answer box / buttons */
#-ethifygame-level-questionary-form fieldset div.form-item,
#-ethifygame-level-questionary-form fieldset div.form-radios {
  float:right;
  margin:0;
}

/* The button */
#-ethifygame-level-questionary-form div.form-radios .form-item {
  float:left;
}
#-ethifygame-level-questionary-form .form-radios .form-item label {
  display:block;
  width:103px;
  height:43px;
  cursor:pointer;
  
  margin: 0 1em;
  padding:0;
  
  font-weight:bold;
  text-align:center;
  vertical-align:middle;
  background-repeat:no-repeat;
}

#-ethifygame-level-questionary-form label input {
  /* do not use display:none, some browser will not enable click-events on label */ 
  visibility:hidden;
  position:absolute;
  width:0 !important;
  height:0 !important;
  border:0 !important;
  padding:0 !important;
  margin:0 !important;
}
#-ethifygame-level-questionary-form label input.eg-msie {
	/* ie does not delegate click event, if the element is hidden */
	visibility:visible;
}

/* using images */
#-ethifygame-level-questionary-form .eg_lvl_questionary_show_btn label.eg-yes-inactive {
  background-image:url(button_ja_inaktiv.png);
}
#-ethifygame-level-questionary-form .eg_lvl_questionary_show_btn label.eg-no-inactive {
  background-image:url(button_nein_inaktiv.png);
}
#-ethifygame-level-questionary-form .eg_lvl_questionary_show_btn label.eg-yes-active {
	background-image:url(button_ja_aktiv.png);
}
#-ethifygame-level-questionary-form .eg_lvl_questionary_show_btn label.eg-no-active {
  background-image:url(button_nein_aktiv.png);
}
#-ethifygame-level-questionary-form .eg_lvl_questionary_show_btn label.eg-yes-error {
  background-image:url(button_ja_fehler.png);
}
#-ethifygame-level-questionary-form .eg_lvl_questionary_show_btn label.eg-no-error {
  background-image:url(button_nein_fehler.png);
}
